
body{
	font-family: 'Poppins', sans-serif;
}

*{
	scroll-behavior: smooth;
}

.container{
	
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.header-index{
	 display: flex;
	align-items: center;
	position: fixed;
	height: 80px;
	width: 100%;
    background-color: #111;
    z-index: 1000;
}

a.logo{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
}

ul{
	/* display:none; */
	display: flex;
	/* flex-direction: column; */
	position: relative;
}

ul li{
	
	position: relative;
	list-style: none;
}
ul li a{
	position: relative;
	color: #fff;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
}

ul li a.active,
ul li a:hover{
	background-color: #205aff;

}

.toggle{
	
	position: relative;
	background-color: #fff;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	display:none;
}


.toggle::before{
	position: absolute;
	top: 15px;
	content:'';
	display: block;
	background-color: #000;
	width: 30px;
	height: 3px;
	
	transition:0.5s;
}
.toggle::after{
	position: absolute;
	content:'';
	display: block;
	background-color: #000;
	width: 30px;
	height: 3px;
	box-shadow: 0px 9px 0 0px #000;
	transition:0.5s;
	

} 

header.active ul{
	transform: translateY(0);
	opacity: 1;
}

header.active .toggle::before{

margin-top: 8px;
transform: rotate(45deg);
width: 80%;
}

header.active .toggle::after{
	margin-bottom: 5px;
	transform: rotate(-45deg);
	box-shadow: none;
	width: 80%;
}



section.content-article{
	position: relative;
	min-height: 100vh;
    display: flex;
    align-items: center;
    
    margin: 0 auto;
    padding-top: 60px; 
}

section#home.content-article{
	width: 80%;
	margin:0 auto
}

section.content-article:nth-child(odd){
	background-color: black;
	color:#fff;
}

section.content-article img{
max-width: 50%;
height: 60vh;
margin-left: 20px;
}

div.container-artigo{
	width: 80%;
	margin:0 auto;
	
}
section.content-article div.container-artigo h2{
font-size: 2.5em;
text-transform: uppercase;
font-weight: bold;
}

section.content-article div.container-artigo p{
font-size: 18px;
}

img{
	max-width: 800px;
	max-height: 400px;
}

#formContato * {
	margin-top: 10px;
}

#formContato textarea{
	height: 10rem;
}

#envie{
	background-color: #000;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 6px;
}

#envie:hover{
	background-color: #205aff;
	/* color: #000; */
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    width: 100%;
}

@media only screen and (max-width: 992px) {
	section.content-article div.container-artigo h2{
		font-size: 2em;
		text-transform: uppercase;
		font-weight: bold;
		}
		
}

@media only screen and (max-width: 787px) {

	.container{
	
		display: flex;
		justify-content: space-between;
		align-items: center;
		/* flex-direction: column; */
		margin: 0 auto;
		width: 80%;
	}
    img{
		max-width: 800px;
		max-height: 200px;
	}
	
	 ul{
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
		position: absolute;	
		height: calc(100vh);
		width: 100%;
		left:0;
		top:100%;
		overflow: auto;
		background-color: #000;
		opacity: 0;
		
		transform: translateY(-100%);
		/* transition: opacity .5s linear; */
	    transition: 0.5s;;
		/* transform: translateY(-100%); */
		
	}  
	
	/* header.menu-aberto ul{
		transform: translateY(0);
		
	}
	div.toggle{
		display: flex;
	} */

	section#home{
		position: relative;
		min-height: 100vh;
		height: auto;
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 0 auto;
		padding: 120px 0; 
		box-sizing: border-box;
	}
	section#home.container-artigo{
		box-sizing: border-box;
		width: 90%;
		
	}

	section.content-article div.container-artigo h2{
		font-size: 2em;
		text-transform: uppercase;
		font-weight: bold;
		}
		
	section.content-article img{
		max-width: 90%;
		height: 60vh;
		margin-left: 0;
		padding-top:40px;
		}
	.toggle{
		display: flex;
	}
	

}